In [23]:
import pandas as pd
import pickle
import sklearn
import numpy as np

In [51]:
rf_model = pickle.load(open("rf_model.pkl", "rb"))

In [52]:
rf_model.feature_names_in_

array(['1', '2', '3+', 'Married', 'Self_Employed', 'Applicant_Income',
       'Coapplicant_Income', 'Loan_Amount', 'Term', 'Male', 'Graduate',
       'Semiurban', 'Urban'], dtype=object)

In [54]:

data = {"Gender":"Male","Married":"Yes","Dependents":"1","Education":"Graduate","Self_Employed":"No",
           "Applicant_Income":600000, "Coapplicant_Income":20000, "Loan_Amount":1400000, "Term":360, "Area":"Urban"}
    
X = pd.DataFrame(data, index = [0])

X["Self_Employed"] = np.where(X["Self_Employed"] == "Yes", 1, np.where(X["Self_Employed"].isna(), X["Self_Employed"], 0))
X["Married"] = np.where(X["Married"] == "Yes", 1, np.where(X["Married"].isna(), X["Married"], 0))
X["Male"] = np.where(X["Gender"] == "Male", 1, np.where(X["Gender"].isna(), X["Gender"], 0))
X["Graduate"] = np.where(X["Education"] == "Graduate", 1, np.where(X["Education"].isna(), X["Education"], 0))

## Dealing with the number of dependents
X[["1","2","3+"]] = pd.Series([0,0,0])
dep = X["Dependents"][0]
X[dep] = 1

## Dealing with the area
X[["Semiurban","Urban"]] = pd.Series([0,0])
ar = X["Area"][0]
X[ar] = 1


X.drop(["Gender", "Education","Dependents", "Area"], inplace = True, axis = 1) 


X = X[rf_model.feature_names_in_]

out = rf_model.predict(X)
print(out[0])

[0.26 0.74]

In [21]:
X[["1","2","3+"]] = pd.Series([0,0,0])

In [36]:
data = {"Gender":"Male","Married":"Yes","Dependents":"1","Education":"Graduate","Self_Employed":"No",
           "Applicant_Income":600000, "Coapplicant_Income":20000, "Loan_Amount":1400000, "Term":360,
           "Cred_History":1, "Area":"Urban"}
    
X = pd.DataFrame(data, index = [0])

X[["1","2","3+"]] = pd.Series([0,0,0])
dep = X["Dependents"][0]

dep

'1'

In [37]:
X[dep] = 1

X

,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Cred_History,Area,1,2,3+
0,Male,Yes,1,Graduate,No,600000,20000,1400000,360,1,Urban,1,0,0